Add card details
<%= form_tag subscriptions_path(:id => params[:id]) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <%end%>
      <%Price.all.each do |price|%>
        <label class="name">
            <span><%=price.product.name%></span>
        </label>
        <label class="amount">
            <span><%=price.unit_amount%></span>
        </label>
        <label class="currency">
            <span><%=price.currency%></span>
        </label>
        <label class="currency">
            <span><%=price.recurring_interval%></span>
        </label>
   
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.application.credentials[:stripe][:public] %>"
            data-description="<%=price.recurring_interval%>"
            data-amount="<%=price.unit_amount*100%>"
            data-locale="auto" data-token=""></script>
        <br /> <br />
      <%end%>
    </article>
<% end %>


