
<article>
  
  <%@prices.each do |price|%>
    <label class="name">
        <span><%=price.product.name%></span>
    </label>
    <label class="amount">
        <span><%=price.unit_amount%></span>
    </label>
    <label class="currency">
        <span><%=price.currency%></span>
    </label>
    <label class="currency">
        <span><%=price.recurring_interval%></span>
    </label>
    <%= link_to "Subscribe",subscription_path(price) , class:"nav-link" %>
    <%=link_to "Payment", payment_new_path(price)%>
  <%end%>
</article>

